@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

.router-link-active {
    color: #1a78ff;
    border-bottom: 2px solid #1a78ff;
}

/** markdown style  */
.v-docs {
    flex: 1;
}
.markdown-body {
    padding-left: 40px;
    padding-bottom: 147px;
    overflow-y: auto;
    height: 100%;
    padding-top: 2rem;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: none;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
    color: #2b323d;
}

.markdown-body table {
    display: table;
}
.markdown-body table td .show-more {
    position: absolute;
    border: 1px solid #d8d8d8;
    width: 15px;
    height: 15px;
    box-shadow: 1px 1px 1px #ddd;
    cursor: pointer;
    text-align: center;
    line-height: 11px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
}

/* 无序列表和有序列表 */
.markdown-body ol {
    list-style-type: decimal;
}
.markdown-body ul {
    list-style-type: disc;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 0;
}

.wj-loading-spinner i {
    font-size: 26px;
}

.wj-dialog .wj-dialog__footer {
    border-top: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
}
